body{
    margin: 0;
    margin-top: 100px;
    padding: 0;

    background: radial-gradient(circle, rgba(202,238,255,1) 0%, rgba(238,240,255,1) 50%, rgba(247,252,255,1) 100%);

    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    z-index: 100;
    top: 0px;

    padding-top: 12px;
    padding-bottom: 12px;

    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #247bff 0%, #62ffff 100%);

    display: flex;
    align-items: center;

    justify-content: space-between;

}

.header-icon{
    display: flex;
    align-items: center;
    margin-left: 20px;
   
    h1{
        height: auto;
        color: white;

        float: left;
        text-align: center;

        padding-right: 20px;
        margin: 0;
    }

    img{
        
        padding-right: 20px;
        color: rgb(255, 255, 255);
        max-width: 45px;
        height: auto;

        float: left;
        margin: 0;
    }
} 

.header-menu{
    margin-right: 20px;
}

.link-button{
    text-decoration: none;
    color: white;
    margin: 0 10px;

    font-size: 18px;
    transition: 0.3s ease;

}


#green{
    color: rgb(190, 255, 186);

    transition: 0.3s ease;
}


.link-button:hover, #green:hover{
    color: rgb(0, 13, 151);

    transition: 0.3s ease;
}

.link-button:active, #green:active{
    font-size: 19px;
    transition: 0.15s ease;
}




section{
    box-shadow: 11px 13px 20px -9px rgba(0,0,0,0.36);

    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    padding: 45px;
    padding-top: auto;
    background-color: rgba(244, 252, 255, 0.936);

    width: 80%;
    overflow: auto;
}



.title{
    width: 60%;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(108,157,255,1) 0%, rgba(75,193,255,1) 43%, rgb(49, 90, 255) 100%);
    border-radius: 5px;

    padding: 5px;

    .title-info{
        border-style: none;
        border-radius: 5px;
        width: 100%;
        margin: 0px;
    }
}

.title-info{
    margin-top: auto;

    width: 200px;
	height: 50px;
	background: #004271;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    border-radius: 2px;
    border: #0091df solid 3px;
}

/* Tab */
@media (max-width: 1600px) {
    .header-icon{


        img {
            font-size: large;
        }
        
        h1{
            font-size: larger;
        }
    }


    .link-button{
        font-size: large;
    }

}

/* Phone */
@media (max-width: 700px) {
    .header-icon{

        img {
            font-size: medium;
        }

        
        h1{
            font-size: large;
        }
    }


    .link-button{
        font-size: medium;
    }

    .link-button:active, #green:active{
        font-size: medium;
    }
}

@media (max-width: 500px) {


    .link-button{
        font-size: small;

        margin: 0 5px;
    }

    .link-button:active, #green:active{
        font-size: small;
    }

    .header-icon{
        width: 120px;
        margin-left: 10px;

        img {
            display: none;
        }
    }

    .header-menu{
        margin-right: 10px;
    }

    
}


/* === Index === */

#name-image {
    padding: 10px;
    background-color: #eff7f8;
   
    table{
        margin-left: auto;
        margin-right: auto;

        width: 100%;

        text-align: center;

        tr th img{
            border-style: solid;
            border-radius: 50%;

            border-color: #0066ff44;

            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: 100% 40%;
        }
    }
}

#name{
    width: 80%;

    .title-info{
        margin-left: 5%;
        width: 80%;
        overflow: auto;

        
    }
}


.info-button{
    position: relative;
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;
}


.info-button:hover{
    .hidden-head{
        background: #007bbd;
    }

    .hidden-info{
        background-color: #00a8e8;
        width: 80%;

        color: white;
        font-size: 16px;
        text-align: left;
    }

    transition: 0.25s ease;
}

.hidden-head{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 65px;
    width: 65px;

    background: #0091df;
    color: white;

    text-align: center;

    transition: 0.25s ease;
}


.hidden-info{
    display: flex;
    align-items: center;
    background-color: #00a8e8;
    width: 0px;
    height: 25%;

    padding: 20px; 

    transition: 0.25s ease;

    color: rgba(255, 255, 255, 0);
    font-size: 1px;
}

#info-list {
    list-style-type: none;

    opacity: 1;
    width: 100%;
}



#info-list li{
    display: flex;
    align-items: center;
    color: white;
    width: 95%;
    height: 45px;

    margin: 10px;
    margin-bottom: 25px;
}


#video{
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
    fieldset{
        width: 90%;
        text-align: center;
        border-color: #0f295d;
    }
}

/* === My Journey === */

#journey-timeline{

    img{
        position: absolute;
        
        left: 81%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 80px;
    
        transform: rotate(150deg);
    }

    #timeline-arrow1{
        margin-top: 90px;
    }
    #timeline-arrow2{
        margin-top: 210px;
    }
    #timeline-arrow3{
        margin-top: 330px;
    }
}

#journey-timeline h2{
    margin: 0;

}

#timeline-line {
    height: 480px;
    width: 5px;

    margin-left: 25px;
    background-color: #004271;
    float: left;
}

#timeline-box{
    margin-top: 20px;
    width: 90%;
    height: 100px;

    background-color: #8ab1ff49;
    float: left;

    display: flex;


    p{
        color: #005b85;
        float: left;

        height: 75%;
        width: 75%;

        margin: auto;
        margin-left: 0;
        margin-right: 0;
        padding-top: 1%;
        padding-bottom: 1%;

        display: flex;
        align-items: center;
    }

    #timeline-year{
        border-radius: 100%;
    
        position: relative;
        right: 30px;
        height: 70px;
        width: 70px;
        margin-top: 15px;
    
        background: radial-gradient(circle, rgb(79, 138, 255) 0%, rgb(163, 223, 255) 43%, rgb(49, 90, 255) 100%);

        text-align: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;

        p{
            height: 62px;
            width: 62px;
            border-radius: 100%;
            color: white;
            background-color: #004271;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 18px;
        }
    }
}





/* === My Future === */

#future{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 525px;

    p{
        color: white;
        font-size: 18px;
        float: left;
        width: 45%;
        padding: 25px;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 10px;

        border-style: solid;
        border-color: #ffffff;

        background-color: #0a539c;
        text-align: center;
    }

    div{
        width: 45%;
        float: left;

        display: flex;
        justify-content: center;

        img{
            width: 60%;
        }
    }
}


footer, .bottom-footer{
    margin-top: 75px;

    width: 100%;
    height: 60px;
    background-color: rgb(47, 147, 255);

    clear: both;
}

.bottom-footer{
    position: absolute;
    bottom: 0;
}
